<!-- Footer -->
<footer class="containerFluid bgDark">
  <!-- service -->
  <div class="container serviceContainer">
    <ion-grid class="borderTop">
      <ion-row class="p3">
        <ion-col size="12" size-md="6" size-lg="3">
          <div class="myCard">
            <img
              src="../../../assets/myIcon/fast-delivery.png"
              class="mb1"
              alt=""
            />
            <p class="ion-text-capitalize">fast delivery</p>
          </div>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="3">
          <div class="myCard borderLeft">
            <img src="../../../assets/myIcon/wallet.png" class="mb1" alt="" />
            <p class="ion-text-capitalize">wallet secure money</p>
          </div>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="3">
          <div class="myCard borderLeft">
            <img
              src="../../../assets/myIcon/reliability.png"
              class="mb1"
              alt=""
            />
            <p class="ion-text-capitalize">you can trust</p>
          </div>
        </ion-col>
        <ion-col size="12" size-md="6" size-lg="3">
          <div class="myCard borderLeft">
            <img
              src="../../../assets/myIcon/secure-payment.png"
              class="mb1"
              alt=""
            />
            <p class="ion-text-capitalize">secured payment</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- footer menu -->
  <div class="container py1">
    <ion-grid>
      <!-- Menu -->
      <ion-row>
        <!-- Grocery Shop -->
        <ion-col size="12" size-md="6" size-lg="3">
          <div class="p1">
            <img
              src="../../../assets/img/grocery-shop.png"
              class="imgFluid py1"
              alt=""
            />
            <p class="lineH1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Dignissimos officia quos dolore, eum quae rerum hic.
            </p>
          </div>
        </ion-col>
        <!-- Top Category -->
        <ion-col size="12" size-md="6" size-lg="3">
          <p class="listHead">Top Category</p>
          <ul class="listUl">
            <li><a href="#">Fruit & Vagetables</a></li>
            <li><a href="#">Grocery & Stables</a></li>
            <li><a href="#">Beverages</a></li>
            <li><a href="#">Breakfast & Dairy</a></li>
            <li><a href="#">Personal Care</a></li>
          </ul>
        </ion-col>
        <!-- Customer Service -->
        <ion-col size="12" size-md="6" size-lg="3">
          <p class="listHead">Cutomer Service</p>
          <ul class="listUl">
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Cancellation Policy</a></li>
            <li><a href="#">Shipping Policy</a></li>
            <li><a href="#">FAQ`s & Disclaimer</a></li>
          </ul>
        </ion-col>
        <!-- Reach Us -->
        <ion-col size="12" size-md="6" size-lg="3">
          <p class="listHead">Reach Us</p>
          <ul class="listUl">
            <li class="">
              <a href="#" class="dFlex dFlexStart">
                <i class="flaticon-location me1"></i>
                <span>
                  A-1/63 A, Paschim Vihar, New Delhi - 110022, India
                </span>
              </a>
            </li>
            <li>
              <a href="#" class="dFlex">
                <i class="flaticon-phone-call me1"></i>

                <p>+91 9836547363</p>
              </a>
            </li>
            <li>
              <a href="#" class="dFlex">
                <i class="flaticon-email-envelope me1"></i>
                <p>info@groceryshop.com</p>
              </a>
            </li>
            <!-- Follow Us -->
            <li class="mb1">
              <p class="followUs">Follow Us on</p>
              <div class="dFlex sIcon">
                <div class="mt1 me1"><i class="flaticon-facebook"></i></div>
                <div class="mt1 me1"><i class="flaticon-twitter"></i></div>
                <div class="mt1 me1"><i class="flaticon-instagram"></i></div>
                <div class="mt1 me1"><i class="flaticon-youtube"></i></div>
              </div>
            </li>
          </ul>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</footer>
