<div class="row">
  <!-- Big Banner -->
  <div class="col-lg-8">
    <div class="banner">
      <img
        src="../../../assets/img/banner/flatBanner.png"
        class="imgFluid"
        alt=""
      />
    </div>
  </div>
  <!-- Small Banner -->
  <div class="col-lg-4">
    <div class="bannerWrapper">
      <div class="">
        <img
          src="../../../assets/img/banner/Sweatshirt.png"
          class="imgFluid"
          alt=""
        />
      </div>
      <div class="">
        <img
          src="../../../assets/img/banner/Women-Jack.png"
          class="imgFluid"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
