<div class="shape"></div>
<header class="containerFluid">
  <nav class="containerHalf py2">
    <div class="row">
      <!-- Logo -->
      <div class="col-6 col-lg-3 pbMd1">
        <img
          src="../../../assets/img/header2/Vector Smart Object copy.png"
          alt=""
          class="imgFluid logo"
        />
      </div>
      <!-- Hamburger -->
      <div class="col-6 col-lg-4 menuIcon dNone dMdFLex pbMd1">
        <i class="flaticon-square" (click)="dropMenu()"></i>
      </div>
      <!-- Menu -->
      <div class="col-md-6 col-lg-4 navCol dMdNone">
        <ul class="menuUl" #navMenu>
          <li><a class="btn myActive roundedPill p1">Women </a></li>
          <li><a class="btn">Men </a></li>
          <li><a class="btn">kids </a></li>
          <li><a class="btn">beauty </a></li>
        </ul>
      </div>
      <!-- Search -->
      <div class="col-12 col-sm-6 col-lg-3 dFlex JustifyCenter alignItemCenter">
        <input
          type="text"
          class="formControl"
          placeholder="Search for product, brand and more"
        />
        <button class="searchBtn">
          <i class="flaticon-loupe"></i>
        </button>
      </div>
      <!-- User -->
      <div class="col-sm-6 col-lg-2 dFlex JustifyEnd alignItemCenter">
        <button class="btn">
          <i class="flaticon-user userIcon"></i>
        </button>
        <button class="btn">
          <i class="flaticon-heart userIcon"></i>
        </button>
        <button class="btn cartIcon">
          <i class="flaticon-shopping-bag userIcon"></i>
          <span class="badge">3</span>
        </button>
      </div>
    </div>
  </nav>
</header>
<!-- Header Image -->
<div class="containerFluid">
  <div class="containerHalf heroBox">
    <div class="mxAuto">
      <img
        src="../../../assets/img/header2/Titan-Static-Web.png"
        class="imgFluid"
        alt=""
      />
    </div>
  </div>
</div>
