<!-- Footer -->
<footer class="containerFluid">
  <div class="shadowInset">
    <!-- banner image -->
    <div class="container pt1">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-lg="6" class="">
            <div class="dwnImg">
              <img
                src="../../../assets/img/appView.png"
                class="imgFluid"
                alt=""
              />
            </div>
          </ion-col>
          <ion-col size="12" size-lg="6" class="dFlex ion-align-items-center">
            <div class="dwnApp p1">
              <p class="ion-text-capitalize h1 fwBold mb1">
                download groccery shop app now
              </p>
              <p class="mb2 textLightDark">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit
                Dignissimos labore dolorum ab sequi voluptatem quae.
              </p>
              <!-- <ion-grid>
                <ion-row>
                  <ion-col size="12" size-md="6">
                    <img
                      src="../../../assets/img/gPlay.png"
                      class="imgFluid "
                      alt=""
                    />
                  </ion-col>
                  <ion-col size="12" size-md="6">
                    <img
                      src="../../../assets/img/appStore.png"
                      class="imgFluid" 
                      alt=""
                    />
                  </ion-col>
                </ion-row>
              </ion-grid> -->
              <div class="dwnPlayBtn">
                <img
                  src="../../../assets/img/gPlay.png"
                  class="imgFluid dwnPlay"
                  alt=""
                />
                <img
                  src="../../../assets/img/appStore.png"
                  class="imgFluid dwnPlay"
                  alt=""
                />
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!-- service -->
    <div class="container">
      <ion-grid class="bgDark borderTop">
        <ion-row class="p3">
          <ion-col size="12" size-md="6" size-lg="3">
            <div class="myCard">
              <img
                src="../../../assets/myIcon/fast-delivery.png"
                class="mb1"
                alt=""
              />
              <p class="ion-text-capitalize">fast delivery</p>
            </div>
          </ion-col>
          <ion-col size="12" size-md="6" size-lg="3">
            <div class="myCard">
              <img src="../../../assets/myIcon/wallet.png" class="mb1" alt="" />
              <p class="ion-text-capitalize">wallet secure money</p>
            </div>
          </ion-col>
          <ion-col size="12" size-md="6" size-lg="3">
            <div class="myCard">
              <img
                src="../../../assets/myIcon/reliability.png"
                class="mb1"
                alt=""
              />
              <p class="ion-text-capitalize">you can trust</p>
            </div>
          </ion-col>
          <ion-col size="12" size-md="6" size-lg="3">
            <div class="myCard">
              <img
                src="../../../assets/myIcon/secure-payment.png"
                class="mb1"
                alt=""
              />
              <p class="ion-text-capitalize">secured payment</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <!-- footer menu -->
  <div class="container">
    <ion-grid color="dark">
      <!-- Menu -->
      <ion-row>
        <!-- Grocery Shop -->
        <ion-col size="12" size-md="6" size-lg="3">
          <p class="listHead">Grocery Shop</p>
          <ul class="listUl">
            <li><a href="#">My Orders</a></li>
            <li><a href="#">My Wishist</a></li>
            <li><a href="#">Refer & Earn</a></li>
            <li><a href="#">Letest Offers</a></li>
            <li><a href="#">New Added</a></li>
          </ul>
        </ion-col>
        <!-- Top Category -->
        <ion-col size="12" size-md="6" size-lg="3">
          <p class="listHead">Top Category</p>
          <ul class="listUl">
            <li><a href="#">Fruit & Vagetables</a></li>
            <li><a href="#">Grocery & Stables</a></li>
            <li><a href="#">Beverages</a></li>
            <li><a href="#">Breakfast & Dairy</a></li>
            <li><a href="#">Personal Care</a></li>
          </ul>
        </ion-col>
        <!-- Customer Service -->
        <ion-col size="12" size-md="6" size-lg="3">
          <p class="listHead">Cutomer Service</p>
          <ul class="listUl">
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Cancellation Policy</a></li>
            <li><a href="#">Shipping Policy</a></li>
            <li><a href="#">FAQ`s & Disclaimer</a></li>
          </ul>
        </ion-col>
        <!-- Reach Us -->
        <ion-col size="12" size-md="6" size-lg="3">
          <p class="listHead">Reach Us</p>
          <ul class="listUl">
            <li class="">
              <a href="#" class="dFlex dFlexStart">
                <i class="flaticon-location me1"></i>
                <span>A-1/63 A, Paschim Vihar, New Delhi - 110022, India</span>
              </a>
            </li>
            <li>
              <a href="#" class="dFlex">
                <i class="flaticon-phone-call me1"></i>

                <p>+91 9836547363</p>
              </a>
            </li>
            <li>
              <a href="#" class="dFlex">
                <i class="flaticon-email-envelope me1"></i>
                <p>info@groceryshop.com</p>
              </a>
            </li>
            <!-- Follow Us -->
            <li class="mb1">
              <p class="followUs">Follow Us on</p>
              <div class="dFlex sIcon">
                <div class="mt1 me1"><i class="flaticon-facebook"></i></div>
                <div class="mt1 me1"><i class="flaticon-twitter"></i></div>
                <div class="mt1 me1"><i class="flaticon-instagram"></i></div>
                <div class="mt1 me1"><i class="flaticon-youtube"></i></div>
              </div>
            </li>
          </ul>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Company Info -->
  <div class="bgDark">
    <div class="container bgDark py2">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-lg="3" class="brandImage">
            <img src="../../../assets/img/grocery-shop.png" alt="" />
          </ion-col>
          <ion-col size="12" size-lg="9" class="borderLeft ps2 brandInfo">
            <p class="lineH1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Dignissimos officia quos dolore, eum quae rerum hic, natus vero
              maiores aliquam maxime earum praesentium iusto illo beatae quod a
              recusandae aliquam maxime earum praesentium iusto illo beatae quod
              a recusandae.
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <!-- bottom footer -->
  <div class="container py1">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="6" class="dFlex ion-align-items-center">
          <p class="textLightDark">
            Copyright <sup>&#169;</sup>2019-2021 Build With Innovation Pvt Ltd.
          </p>
        </ion-col>
        <ion-col size="12" size-lg="6">
          <!-- <div class="dFlex ion-justify-content-end alignItemCenter payMethod"> -->
          <ion-grid>
            <ion-row>
              <ion-col
                size="12"
                size-sm="2"
                class="dFLex ion-justify-content-start ion-align-items-center"
                style="display: flex"
              >
                <p class="textLightDark">We Accept</p>
              </ion-col>
              <ion-col size="12" size-sm="10">
                <div
                  class="
                    dFlex
                    ion-justify-content-start
                    alignItemCenter
                    payMethod
                  "
                >
                  <div class="">
                    <img src="../../../assets/img/payment2.png" alt="" />
                  </div>
                  <div class="">
                    <img src="../../../assets/img/payment1.png" alt="" />
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <div class="dFlex dFLexJustifyBetween alignItemCenter"></div> -->
  </div>
</footer>
