* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #e1e1e1;
}
.containerFluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.containerHalf {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

// Porduct Category Css
.productCard {
  max-width: 20rem;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin: 1rem 0.5rem;
  background-color: #f2f2f2;
  transition: all 0.3s linear;
}
// .productCard:hover {
//   box-shadow: 0 0 2rem #e2e2e2;
// }
.cartLabel {
  position: absolute;
  top: 10px;
  left: 10px;
}
.itemWishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.4rem;
  color: #dedede;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;

  i {
    line-height: 0;
  }
}
.discountLabel {
  position: absolute;
  top: 20px;
  left: -5px;
  padding: 0.2rem 0.4rem;
  color: #fff;
  background-color: #f75569;
  font-size: 12px;
  text-transform: capitalize;
  z-index: 9;
}
.cardImage {
  max-width: 100%;
  min-height: 2rem;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  line-height: 0;
  border-radius: 15px 15px 0 0;

  img {
    max-width: 100%;
    height: auto;
  }
}
.cardBody {
  padding: 0.8rem;
  text-transform: capitalize;

  a {
    min-height: 46px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    // font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.itemRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  text-transform: initial;
  cursor: pointer;

  .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    color: #000;

    i {
      font-size: 14px;
      line-height: 0;
      color: #1cbbb4;
    }
    span {
      color: #8e8e8e;
    }
  }
}
.itemDiscrption {
  margin-top: 0.5rem;

  .amountArea {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;

    span {
      font-weight: unset;
      color: #7f7f7f;
      text-decoration: line-through;
    }
    .amount {
      font-weight: 500;
      font-size: 18px;
    }
  }
}
.cartArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.8rem;
  grid-gap: 16px;
  gap: 16px;
}
.addBtn,
.addQuantity {
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s linear;

  .addPlus {
    width: 81px;
    height: 100%;
    padding: 0.5rem 0.6rem;
    color: #000;
    background-color: #fff;
    border-radius: 15px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: all 0.3s linear;
    text-transform: capitalize;

    i {
      line-height: 0;
      font-size: 12px;
    }
  }
  .addPlus:hover {
    background-color: #adadad;
  }
}
.addQuantity {
  width: 100%;
  height: 32px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px #e2e2e2;

  span {
    height: 80%;
    color: #24bdb6;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .addMinus,
  .addPlus {
    width: 33.33%;
    height: 100%;
    padding: 0.7rem;
    color: #000;
    background-color: transparent;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;

    i {
      line-height: 0;
      font-size: 12px;
    }
  }
  .addMinus {
    border-radius: 15px 0 0 15px;
  }
  .addMinus:hover,
  .addPlus:hover {
    color: #fff;
    background-color: #adadad;
  }
}
.stretchedLink::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
}

.item-row {
  margin: 0 -16px;
  .item-col {
    width: 25%;
    display: inline-block;
    // padding: 0 16px;
  }
  &.sidebar {
    .item-col {
      width: 25%;
    }
  }
}
@media (max-width: 1200px) {
  .item-row {
    margin: 0 -4px;
    .item-col {
      width: 33.33%;
      padding: 0 4px;
    }
    &.sidebar {
      .item-col {
        width: 33.33%;
      }
    }
  }
}
@media (max-width: 992px) {
  .item-row {
    .item-col {
      width: 33.33%;
    }
    &.sidebar {
      .item-col {
        width: 50%;
      }
    }
  }
}
@media (max-width: 768px) {
  .item-row {
    .item-col {
      width: 50%;
    }
    &.sidebar {
      .item-col {
        width: 50%;
      }
    }
  }
}
@media (max-width: 576px) {
  .item-row {
    .item-col {
      width: 100%;
    }
  }
  .productCard {
    margin: 16px auto;
  }
  .containerHalf {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 320px) {
  .item-row {
    .item-col {
      width: 100%;
    }
  }
}
